@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: black;
}

.conteiner {
  padding-left: 19px;
  padding-right: 19px;
}

#restaurants {
  padding-top: 30px;
  padding-bottom: 64px;
}

@media screen and (min-width: 992px) {
  .box__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.box__card .card {
  width: 100%;
  height: 252px;
  border-radius: 15px;
  box-shadow: 0px 3px 20px 0px rgba(112, 112, 112, 0.6);
  position: relative;
  margin: 18px 0px;
}
@media screen and (min-width: 992px) {
  .box__card .card {
    width: 48%;
  }
}
.box__card .card__image {
  height: 175px;
}
.box__card .card__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.box__card .card .image__new {
  background-color: #99E2D0;
  position: absolute;
  right: 10px;
  top: 10%;
  color: #008766;
  width: 80px;
  text-align: center;
  height: 29px;
  line-height: 2;
}

.card .card__title {
  margin: 0.6rem;
}
.card .card__byline {
  margin: 0.6rem;
}

.card {
  position: relative;
}
.card i {
  position: absolute;
  right: 7%;
  bottom: 32px;
  font-size: 1.5rem;
}
.card__ico {
  opacity: 1;
  cursor: pointer;
}
.card__ico:hover, .card__ico:focus {
  opacity: 0;
}
.card__ico--active {
  opacity: 0;
  cursor: pointer;
}
.card__ico--active:focus, .card__ico--active:active {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  header {
    height: 80px;
  }
}
header .logo {
  width: 165px;
}
@media screen and (min-width: 992px) {
  header .logo {
    width: 200px;
  }
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 25px;
  padding-bottom: 35px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin-top: 0px;
}
footer .footer__link {
  color: #ffffff;
}
footer ul {
  padding: 0px;
}
footer li {
  list-style-type: none;
  margin: 5px 0px;
  font-size: 1.1rem;
}
footer .footer__ico {
  margin-right: 10px;
  width: 25px;
}

#place {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  gap: 15px;
  font-size: 1.2rem;
}
#place h2 {
  font-size: 1.15rem;
}

#explorer {
  background: #F6F6F6;
  text-align: center;
  padding: 12px;
}
#explorer h4 {
  font-weight: lighter;
}
#explorer .btn-pink {
  display: inline-block;
  font-size: 1.125rem;
  box-shadow: 0px 3px 20px 0px rgba(112, 112, 112, 0.6);
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  border-radius: 25.5px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  width: 220px;
  height: 51px;
  border: none;
  margin-bottom: 58px;
  transition: all 250ms;
}
#explorer .btn-pink:hover {
  box-shadow: 0px 4px 20px 0px rgba(112, 112, 112, 0.9);
  opacity: 0.9;
}

#start {
  background-color: white;
  padding-top: 30px;
  counter-reset: number;
}
#start ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.step li {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-left: 33px;
  background-color: #F6F6F6;
  box-shadow: 0px 3px 20px 0px rgba(112, 112, 112, 0.6);
  height: 60px;
  width: 100%;
  border-radius: 20px;
  font-size: 1.125rem;
  position: relative;
  margin: 13px 0px 13px 13px;
}
.step li::before {
  content: "" counter(number);
  counter-increment: number;
  background-color: #9356DC;
  border-radius: 25.5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -11px;
  font-size: 0.75rem;
}
.step li .step__ico {
  color: grey;
}
@media screen and (min-width: 992px) {
  .step li {
    width: 30%;
  }
}
.step li:hover {
  background-color: #F5EDFF;
}
.step li:hover .step__ico {
  color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
