@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap");
@keyframes entry-menu-card {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bar {
  0% {
    transform: scalex(1);
    opacity: 0.9;
  }
  50% {
    transform: scalex(1.2);
    background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  }
  100% {
    transform: scalex(0);
  }
}
@keyframes load {
  to {
    transform: scaleY(0);
  }
}
/*------------------------------Mise en page--------------------------*/
/*-----------------------composants et animations----------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.conteiner {
  padding-left: 19px;
  padding-right: 19px;
}

.explorer__btn {
  display: inline-block;
  font-size: 18px;
  box-shadow: 0px 3px 20px 0px rgba(112, 112, 112, 0.6);
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  border-radius: 25.5px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  width: 220px;
  height: 51px;
  border: none;
  margin-bottom: 46px;
  transition: all 250ms ease-in-out;
}
.explorer__btn:hover {
  box-shadow: 0px 5px 23px 0px rgba(112, 112, 112, 0.9);
  opacity: 0.85;
  transform: scale(1.1);
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.order__btn {
  display: inline-block;
  font-size: 18px;
  box-shadow: 0px 3px 20px 0px rgba(112, 112, 112, 0.6);
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 100%);
  border-radius: 25.5px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  width: 220px;
  height: 51px;
  border: none;
  margin-bottom: 46px;
  transition: all 250ms ease-in-out;
  margin-bottom: 80px;
}
.order__btn:hover {
  box-shadow: 0px 5px 23px 0px rgba(112, 112, 112, 0.9);
  opacity: 0.85;
  transform: scale(1.1);
}

.home-card .heart__ico {
  position: absolute;
  font-size: 1.5rem;
}
.home-card .heart__ico:hover {
  opacity: 0;
}
.home-card .heart__ico--color {
  position: absolute;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 500ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-card .heart__ico--color:hover {
  opacity: 1;
}
.home-card .heart__ico {
  right: 5%;
  bottom: 8%;
}
.home-card .heart__ico--color {
  right: 5%;
  bottom: 8%;
}

.layout-menu__title .heart__ico {
  position: absolute;
  font-size: 1.5rem;
}
.layout-menu__title .heart__ico:hover {
  opacity: 0;
}
.layout-menu__title .heart__ico--color {
  position: absolute;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 500ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.layout-menu__title .heart__ico--color:hover {
  opacity: 1;
}
.layout-menu__title .heart__ico {
  right: 0px;
  bottom: 35%;
}
.layout-menu__title .heart__ico--color {
  right: 0%;
  bottom: 35%;
}

.load {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: fixed;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  animation: load 1100ms forwards 2000ms ease-in-out;
  transform-origin: top;
  cursor: wait;
  padding: 25px;
}
.load__bar {
  background-color: #99E2D0;
  height: 25%;
  min-width: 25px;
  border-radius: 25.5px;
  animation: bar 1100ms forwards 2 ease-in-out;
}
.load__bar--1 {
  animation-delay: 100ms;
}
.load__bar--2 {
  animation-delay: 300ms;
}
.load__bar--3 {
  animation-delay: 550ms;
}
.load__bar--4 {
  animation-delay: 850ms;
}
.load__bar--5 {
  animation-delay: 1000ms;
}

header {
  height: 63px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 992px) {
  header {
    height: 80px;
  }
}
header .header-logo {
  width: 165px;
  min-height: 31px;
  margin: auto;
}
@media screen and (min-width: 992px) {
  header .header-logo {
    width: 200px;
  }
}

.header-menu {
  display: revert;
  font-family: "Shrikhand", cursive;
}
.header-menu .conteiner {
  height: 63px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .header-menu .conteiner {
    height: 80px;
  }
}
.header-menu .conteiner .header-logo {
  width: 165px;
  min-height: 31px;
  margin: auto;
}
@media screen and (min-width: 992px) {
  .header-menu .conteiner .header-logo {
    width: 200px;
  }
}

/*---------Menu-page- Mise en page de la page menu*/
.layout-menu {
  background-color: #F6F6F6;
  border-radius: 38px 38px 0px 0px;
  margin-top: -36px;
  position: relative;
  z-index: 1;
}
.layout-menu__title {
  display: flex;
  align-items: center;
  position: relative;
}
.layout-menu__title h2 {
  margin-top: 36px;
  border-radius: 38px 38px 0px 0px;
  font-family: "Shrikhand", cursive;
  font-size: 32px;
}

.image-menu img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .image-menu img {
    height: 45vh;
  }
}

/*Mise en page des cards*/
@media screen and (min-width: 992px) {
  .dish {
    display: flex;
    justify-content: space-between;
  }
}
.dish .box-dish {
  min-width: 30%;
}
.dish .box-dish h3 {
  line-height: 2.5;
  box-shadow: -9px 16px 0px -9px #99E2D0;
  display: inline;
  font-size: 18px;
}

/*----------Menu-page- Organistaion et animation du contenu des cards plats */
.dish-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  height: 70px;
  opacity: 0;
  animation: entry-menu-card 1500ms ease-in-out both;
  margin: 14px 0px;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 20px 0px rgba(112, 112, 112, 0.6);
  margin: 18px 0px;
}
@media screen and (min-width: 992px) {
  .dish-card {
    position: relative;
  }
}
.dish-card__title {
  margin: 0.2rem 0.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
  transition: all 500ms ease-in-out;
}
.dish-card__byline {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 73%;
  margin: 0.2rem 0.6rem;
  transition: all 500ms ease-in-out;
}
.dish-card__price {
  margin: 0.2rem 0;
  font-weight: bold;
  transform: translate(-5px, 13px);
  transition: all 500ms ease-in-out;
  position: absolute;
  right: 26px;
}
.dish-card__check {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 61px;
  height: 100%;
  background-color: #99E2D0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dish-card__check span {
  display: inline-block;
  width: 21px;
  height: 22px;
  border-radius: 10.5px;
  background-color: white;
  color: #99E2D0;
  text-align: center;
  font-size: 16px;
  transition: transform 500ms ease-out 50ms;
}
.dish-card:hover > .dish-card__check {
  transform: scaleX(1);
}
.dish-card:hover > .dish-card__check span {
  transform: rotate(360deg);
}
.dish-card:hover > .dish-card__price {
  transform: translate(-60px, 13px);
}
.dish-card:hover > .dish-card__title {
  width: 57%;
}
.dish-card:hover > .dish-card__byline {
  width: 57%;
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 25px;
  padding-bottom: 35px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin-top: 0px;
}
footer .footer__link {
  color: #ffffff;
}
footer ul {
  padding: 0px;
}
footer li {
  list-style-type: none;
  margin: 5px 0px;
  font-size: 18px;
}
footer .footer__ico {
  margin-right: 10px;
  width: 25px;
}

/*-----------Home-page - Section de recherche selon le lieu---------------*/
#place {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: #EAEAEA;
  font-size: 1.2rem;
}
#place .place__city {
  font-size: 20px;
  border: none;
  color: black;
  background-color: #EAEAEA;
  text-align: center;
  /*Pour enlever la bordur au clic 
  &:focus{
      border: none;
      outline: none;
  }*/
}

/* --------------Home page - Explorer nos restaurants------------*/
.explorer {
  background: #F6F6F6;
  text-align: center;
  padding: 12px;
  /*Bouton dans le dossier components -> _button*/
}
.explorer h1 {
  font-size: 25px;
}
.explorer h2 {
  font-weight: lighter;
  font-size: 18px;
}

/* -----------------home-page - section sur le Fonctionnement-----------------*/
/*Mise en page de la section*/
.start {
  background-color: white;
  padding-top: 25px;
  counter-reset: number;
}
.start h3 {
  font-size: 25px;
}
.start ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin-bottom: 50px;
}

/*Mise en page de la liste des étapes*/
.step__content {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-left: 33px;
  background-color: #F6F6F6;
  box-shadow: 0px 3px 20px 0px rgba(112, 112, 112, 0.6);
  height: 60px;
  width: 100%;
  border-radius: 20px;
  font-size: 18px;
  position: relative;
  margin: 13px 0px 13px 13px;
}
.step__content::before {
  content: "" counter(number);
  counter-increment: number;
  background-color: #9356DC;
  border-radius: 25.5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -11px;
  font-size: 0.75rem;
}
.step__content__ico {
  color: grey;
}
@media screen and (min-width: 992px) {
  .step__content {
    width: 30%;
  }
}
.step__content:hover {
  background-color: #F5EDFF;
}
.step__content:hover .step__ico {
  color: #9356DC;
}

/*---------Home-page- Section vue des différents restaurants--------------*/
/*Mise en page de la section*/
.restaurants {
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 46px;
}
.restaurants h3 {
  font-size: 25px;
}

/*Mise en page des cards et du contenu*/
@media screen and (min-width: 992px) {
  .box__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.box__card .home-card {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 3px 20px 0px rgba(112, 112, 112, 0.6);
  margin: 18px 0px;
  height: 252px;
  position: relative;
}
@media screen and (min-width: 992px) {
  .box__card .home-card {
    width: 48%;
  }
}
.box__card .home-card__image {
  height: 175px;
}
.box__card .home-card__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.box__card .home-card__image--new {
  background-color: #99E2D0;
  position: absolute;
  font-size: 15px;
  right: 10px;
  top: 10%;
  color: #008766;
  width: 80px;
  text-align: center;
  height: 29px;
  line-height: 2;
}
.box__card .home-card__title {
  margin: 0.6rem;
  font-size: 18px;
}
.box__card .home-card__byline {
  margin: 0.6rem;
  font-size: 16px;
}

/*icone et animation "j'aime" = voir dossier: component->animation-heart*/

/*# sourceMappingURL=style.css.map */
