.card {
    position: relative;
    @include heart;
    .card__ico {
        right: 7%;
        bottom: 32px;
        
    }
    
    
    /*&__ico {
        position: absolute;
        right: 7%;
        bottom: 32px;
        font-size: 1.5rem;
        background-color: white;

        &:hover {
            opacity: 0;
        }
    }

    &__ico--active {
        position: absolute;
        opacity: 0;
        transition: opacity 1s;
        background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            opacity: 1;
        }
    }*/
}

