.load {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:90px;
    position: fixed;
    background-color: white;
    opacity: 0.9;
    z-index: 1;
    animation: load 1100ms forwards 2000ms ease-in-out;
    transform-origin: top;
    cursor: wait;
    
    &__bar {
        background-color: $tertiary-color;
        height: 25%;
        width: 3vh;
        border-radius: 25.5px;
        animation: bar  1100ms forwards 2 ease-in-out;
        
        
    }
    &__bar--1{
        animation-delay: 100ms;
    }
    &__bar--2{
        animation-delay: 300ms;
    }
    &__bar--3{
        animation-delay: 550ms;
    }
    &__bar--4{
        animation-delay: 850ms;
    }
    &__bar--5{
        animation-delay: 1000ms;
    }
}