/*-----------Home-page - Section de recherche selon le lieu---------------*/
#place {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: #EAEAEA;
    font-size: 1.20rem;

    .place__city {
        font-size: 20px;
        border: none;
        color: black;
        background-color: #EAEAEA;
        text-align: center;
        /*Pour enlever la bordur au clic 
        &:focus{
            border: none;
            outline: none;
        }*/
    }
}