#place{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    font-size: 1.20rem;
    .place__city{
        font-size: 1.15rem;
        border: none;
        color: black;
        background-color: #EAEAEA;
        text-align: center;
        /*&:focus{
            border: none;
            outline: none;
        }*/
    }
}

